<!-- Main.html -->

<!DOCTYPE html>
<html>
	{% load static %}
	<head>
		<title>Pdor World</title>
	</head>
	
	<body background = "{% static "img/bg_1.jpg "%}">
	
		<form method = "POST">
			{% csrf_token %}
			<input id="url_id" type="text">
			<Input id = "btn" type="button" value = "ENTER" ></button>
		</form>
		
		
		<Input id = "test_btn" type="button" value = "Send to server" ></button>
		<p id="result"></p>
		
		
		<audio controls autoplay>
			<source src = "static/audio/Goodnight.mp3" type="audio/mpeg"/>
			<em>Sorry, your browser doesn't support HTML5 audio.</em>
		</audio>
		
		<h1>Show time</h1>
		{% for data in DB%}
			<p>
			{{data.title}}
			
			{% if data.url %}
			<iframe width="420" height="315"
				src = {{data.url}}>
			</iframe>
			{% endif %}
			
			{% if data.photo %}
				<img src = {{data.photo}} alt = ""/>
			{% endif %}
			
			{{data.created_at | date:"Y/m/d"}}
			</p>
		{% endfor %}
		<!--<em>{{current_time}}</em>-->
		<!--<iframe width="420" height="315"
			src="https://www.youtube.com/embed/LXS-LbbqfCw">
		</iframe>-->
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script>
			$(document).ready(function(){
				$("#test_btn").click(function(){
					var url = $("#url_id").val();
					$.get("/urlsubmit/", {'_url':url}, function(ret){
						$('#result').html(ret)
					})
				});
			});
		</script>
	</body>
	
	
	
</html>